body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #E5ECF1;
}

.nav_bar {
    background: #fff;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 1px 0 #ddd;
}



.float-right {
    float: right;
}

.width {
    width: 82%;
    margin: 0 auto;
}

.width > a {
    padding: 0.8rem 1rem 0.8rem 0.6rem;
    color: #888;
    display: inline-block;
    font: 13px "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: all .2s;
}

.width > a:hover {
    border-color: #009CFA;
    color: #009CFA;
}

.width > a > i {
    font-size: 1.3em;
    vertical-align: middle;
}

#tw_logo {
    position: fixed;
    padding-top: 0.8rem;
    top: 0;
    left: 50%;
    height: 46px;
}

.search {
    border-radius: 2rem;
    font-size: 13px;
    border: 1px solid #E5E8EA;
    padding: 0.5rem 0.6rem;
    margin-top: 0.4rem;
    background-color: #F5F8FA;
    transition: all .2s;
    width: 150px;
    z-index: 0;
    position: relative;
}

.search:focus {
    outline: none;
    border-color: #009CFA;
    width: 280px;
    box-shadow: inset 0 0 0 1px #009CFA;
}

.fa-twitter {
    font-size: 1.3em;
    color: #009CFA;
}

.small-icon {
    width: 16px;
    height: 16px;
    margin-top: 14px;
    padding-right: 12px;
    margin-left: -30px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.pic {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: .5rem;
}

.dweet_btn {
    padding: 0 1rem;
    border-radius: 2rem;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    margin-left: 0.5rem;
    border: 2px solid #fff;
    height: 34px;
    background-color: #009CFA;
    color: #fff;
    margin-top: 6px;
    transition: all .2s;
}

.dweet_btn:hover {
    background-color: #0091E7;
    cursor: pointer;
}

.dweet_btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0091E7;
}